* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caption {
    color: brown;
}

.paragraph1 {
    color: #a26845;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.paragraph2 {
    color: #2c1303;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}